<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.team22_fitnesstracker">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Team22FitnessTracker">
        <activity
            android:name=".BLE"
            android:exported="false" />
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".ChangePassword"
            android:exported="false" />
        <activity
            android:name=".UpdatePassword"
            android:exported="false"
            android:label="@string/title_activity_update_password"
            android:theme="@style/Theme.Team22FitnessTracker.NoActionBar" />
        <activity
            android:name=".DatabaseHandler"
            android:exported="false" />
        <activity
            android:name=".Bluetooth"
            android:exported="false" />
        <activity
            android:name=".Bluetooth1"
            android:exported="false" />
        <activity
            android:name=".EmergencyContact"
            android:exported="false" />
        <activity
            android:name=".FAQs"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".CaloriesBurned"
            android:exported="false" />
        <activity
            android:name=".StepCount"
            android:exported="false" />
        <activity
            android:name=".HeartRate"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Dashboard"
            android:exported="false" />
    </application>

</manifest>